.main-heading{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
    gap: 3rem;
}

h3{
    margin: 1rem;
    padding: 1rem;
}

.card-icon{
    bottom: 15.6rem;
}

.card-text{
    font-weight: 600;
}