.hero{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

.hero > .img-responsive{
    max-height: 40rem;
}

.product-page{
    margin: 0.1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.product-sub-page{
    max-width: 53.125rem;
    padding: 0.625rem;
    border: 1px solid antiquewhite;
    margin: 0.625rem auto;
    background-color: antiquewhite;
}

.product-img{
    max-width: 18.75rem;
    height: 18.75rem;
    display: block;
    object-fit: cover;
    padding: 0.313rem;
}

